/*
!/.gitignore

############
### MODS ###
############
!/mods/
/mods/*
!/mods/*.jar

######################
### RESOURCE PACKS ###
######################
!/resourcepacks/
/resourcepacks/*
!/resourcepacks/*.zip

###############
### CONFIGS ###
###############
!/config/
/config/*

# Config files
!/config/bettermineshafts-fabric-1_20.toml
!/config/borderlessmining.json
!/config/capes.json5
!/config/cem.conf
!/config/citresewn.json
!/config/clienttweaks-common.toml
!/config/controlify.json
!/config/debugify.json
!/config/dynamic_fps.json
!/config/enhanced_bes.properties
!/config/entity_texture_features.json
!/config/fabric_loader_dependencies.json
!/config/fastquit.toml
!/config/iris.properties
!/config/fastquit.toml
!/config/iris.properties
!/config/isxander-main-menu-credits.json
!/config/lambdynlights.toml
!/config/midnightcontrols.json
!/config/midnightlib.json
!/config/modernfix-mixins.properties
!/config/modmenu.json
!/config/moreculling.toml
!/config/puzzle.json
!/config/replaymod.json
!/config/sodium-extra-options.json
!/config/sodium-options.json
!/config/tectonic.json
!/config/terrablender.toml
!/config/xaerominimap.txt

# No Chat Reports

!/config/NoChatReports/
/config/NoChatReports/*
!/config/NoChatReports/NCR-Common.json
!/config/NoChatReports/NCR-Encryption.json
!/config/NoChatReports/NCR-Client.json

# BCLib

!/config/bclib/
/config/bclib/*
!/config/bclib/client.json
!/config/bclib/biomes.json
!/config/bclib/server.json
!/config/bclib/cache.json
!/config/bclib/generator.json
!/config/bclib/main.json

# Better End

!/config/betterend/
/config/betterend/*
!/config/betterend/generator.json

# Better Nether

!/config/betternether/
/config/betternether/*
!/config/betternether/biomes.json
!/config/betternether/generator.json

# Biomes o' Plenty

!/config/biomesoplenty/
/config/biomesoplenty/*
!/config/biomesoplenty/biome_toggles.json
!/config/biomesoplenty/generation.toml

# Biomes We've Gone

!/config/biomeswevegone/
/config/biomeswevegone/*
!/config/biomeswevegone/world_generation.json5

# Explorify

!/config/explorify/
/config/explorify/*
!/config/explorify/structure_settings.json5

# Just Zoom

!/config/justzoom/
/config/justzoom/*
!/config/justzoom/config.txt

# Pickup Notifier

!/config/pickupnotifier/
/config/pickupnotifier/*
!/config/pickupnotifier/pickupnotifier-client.toml

# Towns And Towers

!/config/towns_and_towers/
/config/towns_and_towers/*
!/config/towns_and_towers/structure_enable_or_disable_new.json5
!/config/towns_and_towers/structure_rarity_new.json5

# Simple Voice Chat

!/config/voicechat/
/config/voicechat/*
!/config/voicechat/voicechat-client.properties
!/config/voicechat/voicechat-server.properties
!/config/voicechat/translations.properties
!/config/voicechat/voicechat-volumes.properties
!/config/voicechat/username-cache.json

# Worldedit

!/config/worldedit/
/config/worldedit/*
!/config/worldedit/worldedit.properties

# Paxi

!/config/paxi/

# Options

!/options.txt